* {
    margin: 0;
    padding: 0;
    font-family: "Dm Sans", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
}

.fixed-socials {
    position: fixed;
    height: 30vh;
    width: max-content;
    height: 20%;
    left: 0%;
    top: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    z-index: 100;
}

.fixed-image {
    margin-bottom: 30px;
    width: 50px;
    aspect-ratio: 1;
}

#bounce {
    bottom: 150px;
    animation: bounce 4s infinite alternate;
    border-radius: 50%;
    box-shadow: 0 0 17px 7px #7ad4f6;
}

@-webkit-keyframes bounce {

    0%,
    100%,
    20%,
    53%,
    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {

    0%,
    100%,
    20%,
    53%,
    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@media (max-width: 575px) {
    .fixed-socials {
        width: 10vw;
        padding-left: 3px;
        left: 0%;
    }

    .fixed-image {
        width: 9vw;
    }
}

.contact-main {
    padding-top: 10;
    height: 65vh;
    background-color: #333333;
    width: 100vw;
    max-width: 100vw;
}

.contact {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    position: relative;
}

.contact::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url("../images/about/about-bg.svg") no-repeat center center;
    background-size: 20vw;
    z-index: -1;
}

.contact-text-container {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-text-container h2 {
    margin-bottom: 20px;
    color: #28a745;
    font-size: 24px;
    font-weight: 300;
}

.contact-text-container p {
    font-weight: 100;
    color: #212529;
}

.link-box {
    text-align: center;
    margin-top: 30px;
}

.link-box p {
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 24px;
}

.link-box a {
    color: #0e95fe;
    cursor: pointer;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 100;
}

.icon-grid {
    display: grid;
    width: max-content;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.icon-container {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icon-container img {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 80px;
    border-radius: 50%;
    aspect-ratio: 1;
}



@media (max-width: 575px) {
    .contact::after {
        background-size: 20vw;
    }

    .icon-grid
    {
        width: 90vw;
        max-width: 90vw;
        grid-template-columns: 1fr 1fr;
    }
    .icon-container
    {
        margin-top: 20px;
        width: 100%;
        max-width: 100%;
    }
    .icon-container img
    {
        width: 70px;
    }
}