@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.banner {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
#slider {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  overflow-x: hidden;
  flex-direction: column;
  overflow-y: hidden;
  display: flex;
}
#slider-image {
  z-index: -1;
  position: absolute;
  opacity: 0.2;
  filter: contrast(100%);
    
    height: 100%;
    width: 100%;
}
.info-container 
{
  min-width: 20vw;
  min-height: 20vh;
  color: white;
  align-items: center;
  display: flex;
}
.move-button {
  background-color: #44444480;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 20px;
}
.info
{
  flex-grow: 1;
}
.slider-button-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5vw;
  height: 100%;
}
#primary1
{
  color: transparent;
  font-family: 'Urbanist', sans-serif;
  font-size: 80px;
  letter-spacing: -.3rem;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
#primary2
{
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 60px;
  letter-spacing: -1px;
  letter-spacing: -.3rem;
}

.about-us
{
  height: 90vh;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* color: white; */
  /* background:  radial-gradient(circle, rgba(27,27,27,1) 22%, rgba(0,0,0,1) 89%); */
  background-image: url('../images/about/about-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

.about-us > *
{
  max-width: 80vw;
  font-family: 'Manrope', sans-serif ;
  font-weight: bold;
}
.about-title
{
  letter-spacing: .1rem;
  margin-top: 13vh;
}
.about-content-title
{
  margin-top: 5vh;
}
.about-button
{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 7px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: #d9f1ce;
  color: black;
  transition: background-color, color .5s;
  cursor: pointer;
}
.about-button:hover
{
  color: white;
  background-color: #0E95FE;
}
#more{
  display: none;
}
.about-icon-bar
{
  margin-top: 100px;
  width: 80vw;
  height: 100px;
  min-height: max-content;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.about-icon
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}
.about-icon-image
{
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.info-secondary
{
  display: flex;
}
.secondary-link-container
{
  width: max-content;
  margin-top: 40px;
}
#secondary-link
{
  color: white;
  padding-right: 10vw;
  text-decoration: none;
  font-family: 'Manrope', sans-serif ;
  font-weight: bolder;
  margin-left: 5px;
  font-size: 15px;
  cursor: pointer;
}
.secondary-description-container
{
  margin-top: 40px;
  max-width: 25vw;
  font-weight: 100;
  font-family: 'Manrope', sans-serif ;
  font-size: 16px;
}
#slider-secondary-caption {
  color: #fff;
}
#slider-primary-caption {
  color: #fff;
}
.fixed-image {
  margin-bottom: 30px;
  width: 50px;
  aspect-ratio: 1;
}
.sliders
{
  width: 15vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fixed-socials {
  position: fixed;
  height: 30vh;
  width: max-content;
  height: 20%;
  left: 0%;
  top: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-left: 30px;
}
.slider-identifier-container {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slider-bar {
  background-color: gray;
  height: 7vh;
  width: 2px;
  margin-left: 7.5px;
  font-size: 0;
}
.slider-identifier-container p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
#bounce {
  bottom: 150px;
  animation: bounce 4s infinite alternate;
  border-radius: 50%;
  box-shadow: 0 0 17px 7px #7ad4f6;
}
@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  53%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  0%,
  100%,
  20%,
  53%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@media (max-width: 575px) {
  #slider-secondary-caption {
    font-size: 16px;
  }
  #slider-primary-caption {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 36px;
  }
  #primary1
  {
    font-size: 50px;
    letter-spacing: 0px;
  }
  #primary2
  {
    font-size: 34px;
    letter-spacing: 0px;
  }
  .secondary-description-container
  {
    display: none;
  }
  .secondary-link-container
  {
    margin-top: 10px;
  }
  .info
  {
    margin-left: 10vw;
    max-width: 80vw;
    word-wrap: break-word;
    word-break: break-all;
  }
  .fixed-socials
  {
    width: 10vw;
    padding-left: 3px;
    left: 0%;    
  }
  .fixed-image
  {
    width: 9vw;
  }
  .slider-button-container
  {
    width: 15vw;
  }
  .about-us
  {
    min-height: 120vh;
    text-align:justify;
  }
  .about-icon-bar
  {
    min-height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .sliders {
    display: none;
  }
}
