
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.banner {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
#slider {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  overflow-x: hidden;
  flex-direction: column;
  overflow-y: hidden;
  display: flex;
}
#slider-image {
  z-index: -1;
  position: absolute;
  opacity: 0.2;
  filter: contrast(100%);

  height: 100%;
  width: 100%;
}
.info-container {
  min-width: 20vw;
  min-height: 20vh;
  color: white;
  align-items: center;
  display: flex;
}
.move-button {
  background-color: #44444480;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 20px;
}
.info {
  flex-grow: 1;
}
.slider-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5vw;
  height: 100%;
}
#primary1 {
  color: transparent;
  font-family: "Urbanist", sans-serif;
  font-size: 80px;
  letter-spacing: -0.3rem;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
#primary2 {
  color: white;
  font-family: "Urbanist", sans-serif;
  font-size: 60px;
  letter-spacing: -1px;
  letter-spacing: -0.3rem;
}

.about-us {
  position: relative;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-image: url("../images/about/about-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

.about-us > * {
  max-width: 80vw;
  font-family: "Manrope", sans-serif;
  font-weight: normal;

}
.about-description{
  font-size: inherit;
}
.about-title {
  letter-spacing: 0.1rem;
  margin-top: 13vh;
}
.about-content-title {
  margin-top: 5vh;
}
.about-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 7px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: #c7eeb5;
  color: black;
  transition: background-color, color 0.5s;
  cursor: pointer;
  
}
#read-more-button {
  position: relative;
  top: 5%;
  
}
.about-button:hover {
  color: white;
  background-color: #0e95fe;
}
#more {
  display: none;
}

.about-icon-bar {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80vw;
  height: 100px;
  min-height: max-content;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.about-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}
.about-icon-image {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.info-secondary {
  display: flex;
}
.secondary-link-container {
  display: flex;
  width: max-content;
  margin-top: 40px;
  flex-direction: column;
}
.secondary-link {
  color: white;
  padding-right: 10vw;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: bolder;
  margin-left: 5px;
  font-size: 15px;
  cursor: pointer;
}
.secondary-description-container {
  margin-top: 40px;
  max-width: 25vw;
  font-weight: 100;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}
#slider-secondary-caption {
  color: #fff;
}
#slider-primary-caption {
  color: #fff;
}

.sliders {
  width: 15vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fixed-socials {
  position: fixed;
  height: 30vh;
  width: max-content;
  height: 20%;
  left: 0%;
  top: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  z-index: 100;
}
.fixed-image {
  margin-bottom: 30px;
  width: 50px;
  aspect-ratio: 1;
}
.slider-identifier-container {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slider-bar {
  background-color: gray;
  height: 7vh;
  width: 2px;
  margin-left: 7.5px;
  font-size: 0;
}
.slider-identifier-container p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
#bounce {
  bottom: 150px;
  animation: bounce 4s infinite alternate;
  border-radius: 50%;
  box-shadow: 0 0 17px 7px #7ad4f6;
}

.main-section {
  background-color: transparent;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.main-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(28 24 24 / 30%), rgba(34, 34, 34, 0.3)), url("../images/moving-quote.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  
}

.main-section .content {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 70vw;
  max-width: 70vw;
  flex-direction: column;
  color: white;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.main-content-title {
  letter-spacing: .2rem;
  font-size: 1.5em;
}

.main-content-text {
  margin-top: 3vh;
  line-height: 24px;
  font-size: 16px;
  font-weight: 100;

}

.main-content-text a {
  color: #0e95fe;
  text-decoration: none;
}


.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: transparent;
  font-weight: 300;
  width: 70vw;
  padding: 10px;
  z-index: 10;
  box-sizing: border-box;
}


.grid-container input {
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ced4da;
  height: 35px;
  padding-left: 5px;
  box-sizing: border-box;
  border-radius: 5px;


}


.grid-container select {
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  background-color: white;
  color: #525252;

  box-sizing: border-box;
  border-radius: 5px;

}

.grid-container #long-grid {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;


}

.submit-button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.submit-button-container input {
  width: max-content;
  height: max-content;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #333333;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  font-family: "Dm Sans", sans-serif;
}

.require-prompt {
  display: flex;
  gap: 5px;
}

#text-area {
  min-width: 100%;
  max-width: 100%;
  box-sizing: content-box;
  border: none;
  outline: none;
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.link-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100vw;

}


@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  53%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  0%,
  100%,
  20%,
  53%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@media (max-width: 575px) {
  #slider-secondary-caption {
    font-size: 16px;
  }
  #slider-primary-caption {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 36px;
  }
  #primary1 {
    font-size: 50px;
    letter-spacing: 0px;
  }
  #primary2 {
    font-size: 34px;
    letter-spacing: 0px;
  }
  .secondary-description-container {
    display: none;
  }
  .secondary-link-container {
    margin-top: 10px;
  }
  .info {
    margin-left: 10vw;
    max-width: 80vw;
    word-wrap: break-word;
    word-break: break-all;
  }
  .fixed-socials {
    width: 10vw;
    padding-left: 3px;
    left: 0%;
    z-index: 100;
  }
  .fixed-image {
    width: 9vw;
  }
  .slider-button-container {
    width: 15vw;
  }
  .about-us {
    /* min-height: 120vh; */
    text-align: justify;
  }
  .about-icon-bar {
    min-height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    min-height: max-content;
    width: 80vw;
  }

  .main-section .content {
    width: 90vw;
    min-width: 90vw;
    max-width: 90vw;
  }
}
@media screen and (max-width: 480px) {
  .sliders {
    display: none;
  }
}
